{% extends 'authapp/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="login">
            <div class="h2 text-center head">Вход в систему</div>

            <form class="form-horizontal"
                  action="{% url 'authapp:login' %}" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
                {{ login_form.as_p }}
                <br>
                <input class="form-control" type="submit" value="Войти">
            </form>
            <button class="btn btn-round form-control">
                <a href="{% url 'authapp:register' %}{% if from_page %}?next={{ from_page }}{% endif %}" class="">
                    зарегистрироваться
                </a>
            </button>
            <div class="d-flex justify-content-center mb-5">
                <a href="/login/vk-oauth2"><img src="/static/images/VK_Compact_Logo.svg.png" width="30" class="avatar-3"
                                            data-toggle="tooltip"
                                            title="{% trans 'Вход через VK' %}" alt="Вход через VK"></a>
            </div>
        </div>
    </div>
{% endblock %}