{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="login">
            <div class="h2 text-center head">
                Регистрация нового пользователя
            </div>
            <form class="form-horizontal" action="{% url 'authapp:register' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ register_form.as_p }}
                <br>
                {% if from_page %}
                    <input type="hidden" name="from_page" value="{{ from_page }}">
                {% endif %}
                <input class="form-control" type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </div>
{% endblock %}