{% extends 'mainapp/base.html' %}
{% block title %} Статья редактирование - MyHabr {% endblock %}
{% block content %}
    <div class="container">
        <h1>Создание статьи</h1>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary"> СОХРАНИТЬ</button>
            </form>
        </div>
        <a href="#" type="button" onclick="history.back();"> НАЗАД </a>
    </div>
{% endblock %}