{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
    <title>
    {{ object.title }} - MyHabr
    </title>
{% endblock %}
{% block css %}
{{ block.super }}
    <style>
        .sub_comment {
            {#position: relative;#}
            margin-left: 3em;
        }
        .sub_comment_button {
            width: fit-content;
            font-size: 14px;
            margin-top: 2px;
            margin-left: 2em;
            padding: 3px;
        }
    </style>
{%  endblock %}
{% block content %}
    <div class="container">
        <h1>{{ object.title }}</h1>
        <h2>Автор: {{ object.author }}</h2></br>
        <hr>
        </br>
        {{ object.body }}
        <hr>
        </br>
        </br>
        <a href="{% url 'blogpost'  %}"> НАЗАД </a> </br>
        CHECK CHECK
        {% include 'blogpost/includes/same_category_blogpost.html' %}
        CHECK CHECK
        <hr>
        </br>
        <form id="comment_form" hidden>
            {% csrf_token %}
            <div class="form-group">
                <label for="comment_text">Ваш комментарий:</label>
                <textarea name="comment_text" class="form-control" id="comment_text" rows="4"></textarea>
            </div>
            <button hidden id="comment_send" type="submit" class="btn btn-success">Комментировать</button>
        </form>
        <button id="comment_open" type="button" class="btn btn-primary">Комментировать</button>
        {% include 'comments/comments.html' %}


    </div>

    <script>
        let form = $('#comment_form');
        let open_comment = $('#comment_open');
        let send_comment = $('#comment_send');
        open_comment.on('click', () => {
            form.attr("hidden", false);
            open_comment.attr("hidden", true);
            send_comment.attr("hidden", false);
        })
        form.on('submit', function(event){
            event.preventDefault();
            create_post();
        });

        function create_post() {
        var comment_text = $('[name="comment_text"]').val();
        $.ajax({
            url : "/blog/comment/", // the endpoint
            type : "POST", // http method
            data : { comment_text : comment_text,
                     blog_id: {{ object.pk }},
                     csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success : function(json) {
                $('#comments').replaceWith(json.comments);
                form.attr("hidden", true);
                open_comment.attr("hidden", false);
                send_comment.attr("hidden", true);
            },
            error : function(xhr, errmsg, err) {
                console.log('error');
            }
        })
        }
        function sub_comment(e) {
            let comment_id = $(e).val();
            let subcomment = $(e).parent();
            let subcomment_text = subcomment.find('textarea').first();
            if (subcomment_text.is(":hidden")) {
                subcomment_text.attr("hidden", false);
            }
            else {
                let comment_text = subcomment_text.val()
                $.ajax({
                    url : "/blog/sub_comment/",
                    type : "POST",
                    data : { comment_text : comment_text,
                             comment_id: comment_id,
                             blog_id: {{ object.pk }},
                             csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success : function(json) {
                        $(e).parent().find('.sub_comment').remove();
                        $(e).parent().append(json.comment);

                        form.attr("hidden", true);
                        open_comment.attr("hidden", false);
                        send_comment.attr("hidden", true);
                    },
                    error : function(xhr, errmsg, err) {
                        console.log('error');
                    }
                }
               )
                subcomment_text.attr("hidden", true);
            }

        }

    </script>
{% endblock %}