{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} {{ object.title }} - MyHabr {% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ object.title }}</h1>
        <h2>Автор: {{ object.author }}</h2></br>
        <hr>
        </br>
        <img src="{{ object.image_header.url }}">
        {{ object.body|safe }}<br/>
        <hr>
        </br>
      <a href="{% url 'blogpost_update' object.pk %}" type="button"> Изм. </a></br>
        {% if object.status == "1" %}
            <button><a href="{% url 'send_under_review' object.pk %}"> Согласовать публикацию </a></button></br>
        {% elif object.status == "2" %}
            <button disabled>На модерации</button></br>
        {% endif %}
        <a href="#" type="button" onclick="history.back();"> НАЗАД </a>
        </br>
        </br>

    </div>
{% endblock %}