{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} {{ object.title }} - MyHabr {% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ object.title }}</h1>
        <h2>Автор: {{ object.author }}</h2></br>
        <hr>
        </br>
        {{ object.body }}
        <hr>
        </br>
        <button><a href="{% url 'blogpost_update' object.pk %}"> Изм. </a></button></br>
        {% if object.status == "1" %}
            <button><a href="{% url 'send_under_review' object.pk %}"> Согласовать публикацию </a></button></br>
        {% endif %}
        <button ><a href="{% url 'blogpost' %}"> Назад </a></button>
        </br>
        </br>

    </div>
{% endblock %}