{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Ваши посты {{ request.user.username }}</h1>
        <ul>
            {% for post in object_list %}
                <li>
                    <a href="{% url 'blogpost_detail-private' post.pk %}"> {{ post.title }} </a> - {{ post.author }} ( {{ post.blog.category.name }} )
                    <a href="{% url 'blogpost_update' post.pk %}"> Изм. </a>
                    <a href="{% url 'blogpost_delete' post.pk %}"> Удл. </a><br/>
                    {{ post.body }}<br/>
                    Статус статьи: {{ post.get_status_display }}<br/>
                    Дата создания: {{ post.create_date|date:'Y-m-d H:i' }}<br/>
                    <a href="{% url 'blogpost_detail' post.pk %}"> **Показать публичную страницу статьи**. </a>
                    <br/><br/></li>
            {% endfor %}
        </ul>
        <br/>
        <a href="{% url 'blogpost_create' %}"> Cоздать </a><br/>
        <a href="{% url 'index' %}"> Назад </a>
    </div>
{% endblock %}