{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>BlogPost</h1>
        <ul>
            {% for post in object_list %}
                {% if post.status == "1"  %}
                <li>
                    <a href="{% url 'blogpost_detail' post.pk %}"> {{ post.title }} </a> - {{ post.author }}
                    <a href="{% url 'blogpost_update' post.pk %}"> Изм. </a><br/>
                    {{ post.body }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <br/>
        <a href="{% url 'blogpost_create' %}"> Cоздать </a><br/>
        <a href="{% url 'blogpost' %}"> Назад </a>
    </div>
{% endblock %}