{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">{{ title }}</h1>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Админка </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
