{% load static %}
<header>
    <nav class="navbar navbar-expand bg-dark navbar-dark" aria-label="navbar example">
        <div class="container-fluid">
            <div class="container d-flex justify-content-start">
                <embed type="image/svg+xml" src="{% static '/img/habr-logo.svg' %}"/>
                <a class="navbar-brand" href="/">{{ title }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample02"
                        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample02">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blogpost' %}">Мои статьи</a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'authapp:login' %}">Админка </a>
                        {% endif %}
                        </li>
                    </ul>

                </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>
</header>