{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
{#{{ module.data }}#}
<!--    <ul>-->
<!--        {% for val_dict in module.data %}-->
<!--            <li><a href={{val_dict.url}}></a>{{val_dict.text}}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
    <table>
    <thead>
        <tr>
            {% for head in module.header_lst %}
                <td>{{ head }}</td>
            {% endfor %}
        </tr>
    </thead>
      <tbody>
        <!-- Основная часть таблицы -->
        {% for element in module.data %}
        <tr>
	        <td><a href="">{{ element.from_user }}</a></td>
	        <td><a href={{ element.url }}>{{ element.text }}</a> </td>
	        <td>{% if element.type_message == '1' %}
		        <a href="/admin/mainapp/blogpost/{{ element.id }}/change/">Модерация статьи</a>
		            {% else %}
		                <a href="">Запрос модератору</a>
		        {% endif %}</td>
	        <td>{{ element.created_at }}</td>
	        <td>{{ element.is_active }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}