{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
{#{{ module.get_data }}#}

    <table>
    <thead>
        <tr>
            {% for head in module.header_lst %}
                <td>{{ head }}</td>
            {% endfor %}
        </tr>
    </thead>
      <tbody>
        <!-- Основная часть таблицы -->
        {% for element in module.data %}
        <tr>
	        <td><a href="/admin/authapp/myhabruser/?q={{ element.from_user }}">{{ element.from_user }}</a></td>
	        <td><a href={{ element.url }}>{{ element.text| truncatewords:16 }}</a> </td>
	        <td>{% if element.type_message == '1' %}
		        <a href="/admin/mainapp/blogpost/?status__exact=2">Модерация статьи</a>
	            {% else %}
		            <a href="/admin/adminapp/message/{{ element.id }}/change/">Обращение к модератору</a>
		        {% endif %}
	        </td>
	        <td>{{ element.created_at }}</td>
{#            <td><input type="checkbox" name="is_active{{ element.id }}" checked={{ element.is_active }}#}
{#		            onchange={{ module.reload }}></td>#}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

<script>
    function reload(name) {
        alert(name);
    }
</script>

{#<script language="JavaScript">#}
{#    alert()#}
{#</script>#}