{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% for post in object_list %}
            <div class="row mb-5">
                <div class="col">
                    <div class="row g-3 p-2">
                        <div class="col" style="background-color: white">
                            <div class="col-md-12 mb-4 element-animate fadeInUp element-animated">
                                <img src="{{ post.image_header.url }}"
                                     alt="Image placeholder"
                                     class="img-fluid"
                                     width="820">
                            </div>
                            <div class="my-1">
                                <b>{{ post.name }} ({{ post.category.name }})</b><br/>
                                <b>Блог ведёт: {{ post.user.username }}</b>
                            </div>
                            <div class="d-flex flex-row">
                            </div>
                            <button class="btn btn-outline-white mt-3"><a
                                    href="{% url 'blogapp:habrinmyblog' post.pk %}"
                                    class="">Читать блог</a></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include 'mainapp/includes/pagination.html' %}
    </div>
{% endblock %}
