{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% for post in object_list %}
            <div class="row mb-5">
                <div class="col">
                    <div class="row g-3 p-2">
                        <div class="col" style="background-color: white">
                            <div class="my-1">
                                <b>{{ post.author }}</b>
                                <small>{{ post.create_date }}</small>
                            </div>
                            <div class="col-md-12 mb-4 element-animate fadeInUp element-animated">
                                <img src="{{ post.image_header.url }}"
                                     alt="Image placeholder"
                                     class="img-fluid"
                                     width="820">
                            </div>
                            <div class="d-flex mb-3">
                                {{ post.body|truncatewords:50 }}
                            </div>
                            <div class="d-flex flex-row">
                                <form method="POST" action="{% url 'like' post.pk %}" class="like-form mb-0"
                                     id="{{ post.pk }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button class="btn btn-light" type="submit">
                                        <div class="text-success">
                                            {% if post.likes.all.count == 0 %}
                                                <div class="mr-2">
                                                    <i class="fa fa-thumbs-up like-{{ post.pk }}" data-count='like'>0</i>
                                                </div>
                                            {% else %}
                                                <div class="mr-2">
                                                    <i class="fa fa-thumbs-up like-{{ post.pk }}"
                                                       data-count='like'>{{ post.likes.all.count }}</i>
                                                </div>

                                            {% endif %}
                                        </div>
                                    </button>
                                </form>
                                <form method="POST" action="{% url 'dislike' post.pk %}" class="dislike-form mb-0"
                                      id="{{ post.pk }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button class="btn btn-light" type="submit">
                                        <div class="text-danger">
                                            {% if post.dislikes.all.count == 0 %}
                                                <div class="mr-0">
                                                    <i class="fa fa-thumbs-down dislike-{{ post.pk }}" data-count='dislike'>0</i>
                                                </div>
                                            {% else %}
                                                <div class="mr-2">
                                                    <i class="fa fa-thumbs-down dislike-{{ post.pk }}"
                                                       data-count='dislike'>{{ post.dislikes.all.count }}</i>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </button>
                                </form>

                            </div>
                            <button class="btn btn-light mt-3"><a href="{% url 'blogpost_detail' post.pk %}"
                                                                  class="">Читать дальше</a></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include 'mainapp/includes/pagination.html' %}
    </div>
    <script>
        "use strict";

        $( document ).ready(function() {
            $(document).on('submit', '.like-form', function(e){
                e.preventDefault()
                const event_id = $(this).attr('id')
                const url = $(this).attr('action')
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'event_id':event_id,
                    },
                    success: function(response) {
                         $(`.dislike-${event_id}`).text(response.dislike_count)
                         $(`.like-${event_id}`).text(response.like_count)
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            })
            $(document).on('submit', '.dislike-form', function(e){
                e.preventDefault()
                const event_id = $(this).attr('id')
                const url = $(this).attr('action')
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'event_id':event_id,
                    },
                    success: function(response) {
                         $(`.dislike-${event_id}`).text(response.dislike_count)
                         $(`.like-${event_id}`).text(response.like_count)
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            })
        });
    </script>
{% endblock %}
