{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">{{ title }}</h1>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authapp:register' %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authapp:login' %}">Админка </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogpost' %}">Блоги</a>
                    </li>
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authapp:login' %}">Войти <i
                                    class="fas fa-sign-in-alt"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authapp:logout' %}">Выйти <i
                                    class="fas fa-sign-out-alt"></i></a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authapp:login' %}">[{{ user.username }}]</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
