{% extends 'mainapp/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Уведомления
{% endblock %}


{% block content %}
    <div class="container">
        <table class="table">
            <tbody>
            {% autoescape off %}
            {% for message in object_list %}
                <tr {% if not message.is_read %}class="table-info"{% endif %} id="{{ message.id }}">
                    <td>
                        {{ message.created_at }}
                    </td>
                    <td>
                        {{ message.text }}
                    </td>
                </tr>
            {% endfor %}
            {% endautoescape %}
            </tbody>
        </table>
        {% include 'mainapp/includes/pagination.html' %}

    </div>
    {% csrf_token %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        message_count();
        function message_count() {
               $.ajax({
                type: 'POST',
                url: '/message_count/',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                },
                success: function(response) {
                     console.log(response);
                     let notifications = $('#notifications');
                     let count = response.count;
                     if (count > 0) {
                         notifications.html(`Уведомления [<span id="notification_count">${count}</span>]`)
                     }
                     else {
                         notifications.html('Уведомления')
                     }
                },
                error: function(response) {
                    console.log('error', response)
                }
            })
        }
        $(document).on('mouseover ', '.table-info', function(e){

            let message = $(e.target.closest('.table-info'))
            let message_id = message.attr('id')
            $.ajax({
            type: 'POST',
            url: '/mark_read/',
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'message_id': message_id,
            },
            success: function(response) {
                 message.removeClass('table-info');
                 message_count();
            },
            error: function(response) {
                console.log('error', response)
            }
        })
        })
    </script>
{% endblock %}
