<ul class="comment-list">
    {% for comment in comments %}
        <li class="comment">
            <div class="comment-body" id="{{ comment.id }}">
                <h3>{{ comment.user.username }}</h3>
                <div class="meta">время: {{ comment.created_at }}</div>
                <p>{{ comment.text }}</p>
                <textarea hidden name="subcomment_text" class="form-control" rows="3"></textarea>
                <a href="#"  class="reply" onclick="sub_comment(event)">Ответить</a>
            </div>
            <ul class="children">
                {% if comment.has_children %}
                    {% include 'comments/subcomment.html' with children=comment.children %}
                {% endif %}
            </ul>
        </li>
    {%  endfor %}
</ul>