<div id="comments">
    {% for comment in comments %}
        <div class="sub_comment my-1">
        <p><b>Автор: </b>{{ comment.user.username }}</p>
        <p>{{ comment.text }}</p>
        <p>время: {{ comment.created_at }}</p>
        <textarea hidden name="subcomment_text" class="form-control" rows="3"></textarea>
        <button class="btn btn-warning sub_comment_button" value="{{ comment.id }}" onclick="sub_comment(this)">Ответить</button>
        {% if comment.has_children %}
            {% include 'comments/subcomment.html' with children=comment.children %}
        {% endif %}
        </div>
    {%  endfor %}
</div>