<ul class="comment-list">
    {% for comment in comments %}
        <li class="comment">
            <div class="comment-body" id="{{ comment.id }}">
                <h3>{{ comment.user.username }}</h3>
                <div class="meta">время: {{ comment.created_at }}</div>
                <p>{{ comment.text }}</p>

                <div class="d-flex flex-row mb-3">
                    <form method="POST" action="{% url 'comment-like' comment.pk %}" class="mb-0">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="border-0 bg-white text-dark" type="submit">
                            {% if comment.post.likes.all.count == 0 %}
                                <i class="far fa-thumbs-up"><span> 0</span></i>
                            {% else %}
                                <i class="far fa-thumbs-up"><span
                                        class="text-success"> +{{ comment.likes.all.count }}</span></i>
                            {% endif %}
                        </button>
                    </form>
                    <form method="POST" action="{% url 'comment-dislike' comment.pk %}" class="mb-0">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="border-0 bg-white" type="submit">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <div class="text-danger">
                                {% if comment.dislikes.all.count == 0 %}
                                    <i class="far fa-thumbs-down"><span> 0</span></i>
                                {% else %}
                                    <i class="far fa-thumbs-down"><span> -{{ comment.dislikes.all.count }}</span></i>
                                {% endif %}
                            </div>
                        </button>
                    </form>
                </div>
                {% if user.is_authenticated %}
                    <textarea hidden name="subcomment_text" class="form-control" rows="3"></textarea>
                    <a href="#" class="reply" onclick="sub_comment(event)">Ответить</a>
                    {% if user.id == comment.user_id %}
                        <a href="#" class="reply" onclick="edit_comment(event)">Редактировать</a>
                    {% endif %}
                {% else %}

                {% endif %}
            </div>
            <ul class="children">
                {% if comment.has_children %}
                    {% include 'comments/subcomment.html' with children=comment.children %}
                {% endif %}
            </ul>
        </li>
    {% endfor %}
</ul>