{% load mainapp_filters %}
{% load mathfilters %}
{% for comm in children %}
    <li class="row comment sub_comment mt-5 mb-0">
        <div class="comment-body bg-light p-2" id="{{ comm.id }}">
            <h3>{{ comm.user.username }}</h3>
            <div class="meta">время: {{ comm.created_at }}
                <button class="call_button" onclick="call_moderator({{ comm.id }})"><span class="tooltiptext">сообщить модератору</span>&#128276;
                </button>
            </div>
            <p>{{ comm.text|mark_tags }}</p>
            <div class="d-flex flex-row mb-3">
                <form method="POST" action="{% url 'comment-like' comm.pk %}" class="comment-like-form mb-0"
                      id="{{ comm.pk }}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-light" type="submit">
                        <div class="text-success">
                            {% if comm.likes.all.count == 0 %}
                                <div class="mr-2">
                                    <i class="fa fa-thumbs-up comment-like-{{ comm.pk }}">0</i>
                                </div>
                            {% else %}
                                <div class="mr-2">
                                    <i class="fa fa-thumbs-up comment-like-{{ comm.pk }}">{{ comm.likes.all.count }}</i>
                                </div>
                            {% endif %}
                        </div>
                    </button>
                </form>
                <form method="POST" action="{% url 'comment-dislike' comm.pk %}" class="comment-dislike-form mb-0"
                      id="{{ comm.pk }}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-light" type="submit">
                        <div class="text-danger">
                            {% if comm.dislikes.all.count == 0 %}
                                <div class="mr-2">
                                    <i class="fa fa-thumbs-down comment-dislike-{{ comm.pk }}">0</i>
                                </div>
                            {% else %}
                                <div class="mr-2">
                                    <i class="fa fa-thumbs-down comment-dislike-{{ comm.pk }}">{{ comm.dislikes.all.count }}</i>
                                </div>
                            {% endif %}
                        </div>
                    </button>
                </form>
                <button class="btn btn-light">
                    <div class="mr-2">
                        <i class="fa fa-bar-chart comment-vote-{{ post.pk }}">
                            {{ comm.likes.all.count|sub:comm.dislikes.all.count }}
                        </i>
                    </div>
                </button>
            </div>
            {% if user.is_authenticated %}
                <textarea hidden name="subcomment_text" class="form-control" rows="3"></textarea>
                <a href="#" class="reply" onclick="sub_comment(event)">Ответить</a>
                {% if user.id == comm.user_id %}
                    <a href="#" class="reply" onclick="edit_comment(event)">Редактировать</a>
                {% endif %}
            {% endif %}
        </div>
        <ul class="children">
            {% if comm.has_children %}
                {% include 'comments/subcomment.html' with children=comm.children %}
            {% endif %}
        </ul>
    </li>

{% endfor %}