{% load mainapp_filters %}
{% for comm in children %}
    <li class="row comment sub_comment mt-5 mb-0">
        <div class="comment-body" id="{{ comm.id }}">
            <h3>{{ comm.user.username }}</h3>
            <div class="meta">время: {{ comm.created_at }} <button class="call_button" onclick="call_moderator({{ comm.id }})"><span class="tooltiptext">сообщить модератору</span>&#128276;</button></div>
            <p>{{ comm.text|mark_tags }}</p>

            <div class="d-flex flex-row mb-3">
                <form method="POST" action="{% url 'comment-like' comm.pk %}" class="mb-0">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="border-0 bg-white text-dark" type="submit">
                        {% if comm.post.likes.all.count == 0 %}
                            <i class="far fa-thumbs-up"><span> 0</span></i>
                        {% else %}
                            <i class="far fa-thumbs-up"><span
                                    class="text-success"> +{{ comm.likes.all.count }}</span></i>
                        {% endif %}
                    </button>
                </form>
                <form method="POST" action="{% url 'comment-dislike' comm.pk %}" class="mb-0">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="border-0 bg-white" type="submit">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="text-danger">
                            {% if comm.dislikes.all.count == 0 %}
                                <i class="far fa-thumbs-down"><span> 0</span></i>
                            {% else %}
                                <i class="far fa-thumbs-down"><span> -{{ comm.dislikes.all.count }}</span></i>
                            {% endif %}
                        </div>
                    </button>
                </form>
            </div>

            {% if user.is_authenticated %}
                <textarea hidden name="subcomment_text" class="form-control" rows="3"></textarea>
                <a href="#" class="reply" onclick="sub_comment(event)">Ответить</a>
                {% if user.id == comm.user_id %}
                    <a href="#" class="reply" onclick="edit_comment(event)">Редактировать</a>
                {% endif %}
            {% endif %}
        </div>
        <ul class="children">
            {% if comm.has_children %}

                {% include 'comments/subcomment.html' with children=comm.children %}

            {% endif %}
        </ul>
    </li>
{% endfor %}