{% extends 'mainapp/base.html' %}
{% block title %} Подтверждение удаления - MyHabr {% endblock %}
{% block content %}<br/>
  <div class="container">
    {% if object.status != "0" %}
      Уверены, что хотите удалить блог "{{ object.name }}"?
    {% else %}
      Уверены, что хотите восстановить блог "{{ object.name }}"?
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value='{% if object.status != "0" %} удалить {% else %} восстановить {% endif %}'>
    </form>
    <button class="btn btn-success" onclick="location.href='{% url 'blogpost' %}'">
        Отмена
    </button>
  </div>
{% endblock %}

