{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
{% if name %}
<title>Информация о профиле {{ name }}</title>
{% else %}
<title>Информация о профиле</title>
{% endif %}
{% endblock %}

{% block content %}
<link href="{% static 'profile/css/profile_button_like.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'profile/js/like.js' %}"></script>

<div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <div>
            Информация о профиле {{ name }}
                {% if user.id != profile_id.id %}
                    <a href="{% url 'profiles:like' user.id profile_id.id %}" class="like-button">
                        {% if true_like %}
                        <i class="material-icons is-liked bouncy">favorite </i>
                        {% else %}
                        <i class="material-icons not-liked bouncy">favorite_border </i>
                        {% endif %}
                        {{ profile.likes }}
                    <span class="like-overlay"></span>
                    </a>
                    {% if true_dislike %}
                    <a href="{% url 'profiles:dislike' user.id profile_id.id %}"><img src="{% static 'profile/img/active_dis.jpg' %}"> </a> {{ profile.dislikes }}
                    {% else %}
                     <a href="{% url 'profiles:dislike' user.id profile_id.id %}"><img src="{% static 'profile/img/off_dis.jpg' %}"> </a> {{ profile.dislikes }}
                    {% endif %}
                {% else %}
                    Сколько лайков {{ profile.likes }} Сколько дислайков {{ profile.dislikes }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row blog-entries">
        <div class="col-md-12 col-lg-8 main-content">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="name">Имя</label>
                        <input type="text" id="name" class="form-control " value="{{profile.first_name}}">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="phone">Фамилия</label>
                        <input type="text" id="phone" class="form-control " value="{{profile.last_name}}">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="email">Возраст</label>
                        <input id="email" class="form-control " value="{{profile.age}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="message">О себе</label>
                        <textarea name="message" id="message" class="form-control " cols="30"
                                  rows="8">{{profile.text}}</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if user.id == profile_id.id %}
    <div class="col-md-6 form-group">
        <a href="{% url 'profiles:update' user.id %}" class="btn-group-toggle">Редактировать профиль</a>
    </div>
    <div class="col-md-6 form-group">
        <a href="{% url 'blogpost_create' %}" class="btn-group-toggle">Написать статью</a>
    </div>
    <div class="col-md-6 form-group">
        <a href="{% url 'blogpost' %}" class="btn-group-toggle">Все мои статьи</a>
    </div>
    {% endif %}
</div>

{% endblock %}