<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if name %}
    <title>Информация о профиле {{ name }}</title>
    {% else %}
    <title>Информация о профиле</title>
    {% endif %}
</head>

<body>
    <div>
        <p>Имя {{profile.first_name}}</p>
        <p>Фамилия {{profile.last_name}}</p>
        <p>Возраст {{profile.age}}</p>
        <p>О себе {{profile.text}}</p>
    </div>
    <div>
        <a href="{% url 'profiles:update' user.id %}"> Изменить данные</a>
    </div>

</body>

</html>